[run]
source=tssc
[report]
exclude_lines =
    # Added to bypass missing unit-test step coverage error 
    # that is covered by the following unit test:
    #   test_unit_test_run_attempt_fails_fail_on_no_tests_flag_true
    except RuntimeError('Error: No unit tests defined')
