# Python
__pycache__
pdoc3-html/
dist/
build/
*.egg*
.coverage
coverage.xml
.pytest_cache

# TSSC build & runtime
tssc/version.py
tssc-results
tssc-working
results.yml/
.venvs

# Eclipse
.project
.classpath
.settings/
bin/
.pydevproject

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej
