astroid==2.4.1
attrs==19.3.0
bandit==1.6.2
flake8==3.8.1
gitdb==4.0.5
GitPython==3.1.2
importlib-metadata==1.6.0
isort==4.3.21
lazy-object-proxy==1.4.3
Mako==1.1.2
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.2.0
packaging==20.3
pbr==5.4.5
pdoc3==0.8.1
pluggy==0.13.1
py==1.8.1
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.5.2
pyparsing==2.4.7
pytest==5.4.2
PyYAML==5.3.1
six==1.14.0
smmap==3.0.4
stevedore==1.32.0
toml==0.10.0
typed-ast==1.4.1
wcwidth==0.1.9
wrapt==1.12.1
zipp==3.1.0
